version: '3.9'

services:
  docker_squid:
    image: malidong/docker-squid:latest
    restart: always
    ports:
      - "3128:3128/tcp"
    hostname: docker-squid
    container_name: docker-squid
    volumes:
      - ./etc-squid:/etc/squid
      - ./squid-cache:/var/cache/squid
      - ./squid-logs:/var/log/squid
    healthcheck:
      test: ["CMD", "squid", "-k", "check"]
      interval: 30s
      timeout: 5s
      retries: 3

