services:
  docker_squid:
    build:
      context: .
      dockerfile: Dockerfile
    image: malidong/docker-squid:latest
    env_file:
      - .env
    restart: always
    stop_grace_period: 30s
    ports:
      - "3128:3128/tcp"
    hostname: docker-squid
    container_name: docker-squid
    volumes:
      - ./etc-squid:/etc/squid
      - ./squid-cache:/var/cache/squid
      - ./squid-logs:/var/log/squid
    healthcheck:
      test: ["CMD", "squid", "-k", "check"]
      interval: 30s
      timeout: 5s
      retries: 3

